.collapse {
    margin-bottom: 20px;
    flex: 1;
    h2 {
        font-size: 18px;
        color: white;
    } 
    ul {
        padding: 10px 10px;
        margin: 0;
        list-style-type: none;
    }
    li {
        font-size: 14px;
        line-height: 1.5;
    }
}

.collapse-content {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.8s ease, transform 0.8s ease;
    &.show {
        opacity: 1;
        transform: translateY(0%);
    }
}

.collapse-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border: none;
    background-color: #ff6060;
    border-radius: 5px;
    padding: 0 10px;
    img:hover {
        cursor: pointer;
    }
}

.arrow-hide, .arrow-show {
    height: 32px;
    padding: 0 10px;
    transition: transform 0.3s ease;
}

.arrow-show {
    transform: rotate(90deg);
    &:hover {
        transform: scale(1.05) rotate(90deg);
    }
}

.arrow-hide {
    transform: rotate(-90deg);
    &:hover {
        transform: scale(1.05) rotate(-90deg);
    }
}
