@import '../../variables.scss';

.collapse {
    margin-bottom: 20px;
    flex: 1;

    h2 {
        font-size: 18px;
        color: white;
         @include mobile {
            font-size: 16px;
         }
    } 

    ul {
        padding: 10px 10px;
        margin: 0;
        list-style-type: none;
        background-color: rgb(243, 242, 242);
        border-radius: 10px, 10px, 5px, 5px;
    }
    
    li {
        font-size: 14px;
        line-height: 1.5;
        @include mobile {
            font-size: 12px;
        }
    }

    &-content {
        overflow: hidden;
        transition: height 1s;
        &.show {
            transition: height 1s;
        }
    }

    &-text {
        opacity: 0;
        transform: translateY(-10%);
        transition: opacity 0.8s ease, transform 0.8s ease;
        &.show {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    &-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        border: none;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 0 10px;
        img:hover {
            cursor: pointer;
        }
        @include mobile {
            height: 40px;
        }
    }

    .arrow {
        width: 32px;
        height: 32px;
        padding: 0 10px;
        transform: rotate(90deg);
        transition: transform 0.3s ease;
        @include mobile {
            width: 24px;
            height: 24px;
         }
    
        &.open {
            transform: rotate(-90deg);
        }
    
        &.transition {
            transition: transform 0.3s ease;
        }
    }
}


// .arrow-hide, .arrow-show {
//     height: 32px;
//     padding: 0 10px;
//     transition: transform 0.3s ease;
// }

// .arrow-show {
//     transform: rotate(90deg);
//     &:hover {
//         transform: scale(1.05) rotate(90deg);
//     }
// }

// .arrow-hide {
//     transform: rotate(-90deg);
//     &:hover {
//         transform: scale(1.05) rotate(-90deg);
//     }
// }




