@mixin margin-60 {
    margin-left: 60px;
    margin-right: 60px;
  }

$primary-color : #ff6060;

$breakpoint-mobile: 481px;
$breakpoint-tablette: 768px;

@mixin mobile {
  @media screen and (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablette {
  @media screen and (max-width: #{$breakpoint-tablette}) and (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin link-wrap {
  @media screen and (max-width: 341px) {
    @content;
  }
}





